/* header */
header {
  display: flex;
  align-items: center;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 1;
  width: 100%;
  Height: 80px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
  color: black;
}
.logo span {
  color:  MediumAquamarine;
  display: flex;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}
header nav {
  padding-right: 40px;
}
a {
  color: black;
}
/* BODY */
body {
  margin: 0;
  font-family: "Georgia", serif;
  font-size: 17px;
  color: black;
}

a {
  color: black;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: bold;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

/* Columns */
.content {
  display: flex;
  padding-top: 178px;
}
.column-large {
  width:630px;
}
.column-medium {
  width: 300px;
}
